/* CompanyCard.css */
@keyframes slideUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.company-name {
    animation: slideUp 1s ease-out forwards;
    opacity: 0;
    /* Start with opacity 0 to make it invisible before animation */
}

